<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <ul class="navbar">
        <li>
          <a href="/index.html">Startsida</a>
        </li>

        <li>
          <a href="/view/historiksahändelser.html">Historiska händelser</a>
        </li>
        <li>
          <a href="/view/utveckling.html">Hemsidors utveckling</a>
        </li>

        <li>
          <a href=".">Webbens Grundläggande principer </a>
        </li>
        <li>
            <a href="/view/Webbpublicerings-system.html">Webbpublicerings system</a>
          </li>
      </ul>
      <div class="wrapper">
        <div class="middlefloat">
            <div class="box1">
         <p>
          <h2>
            1969 Starten på internet heter Arpanet
          </h2>
          <b>
            29 oktober 1969 skickas det första meddelandet på det som i dag är internet.
          </b>
          <br> <br>
          Vid den tiden heter nätverket Arpanet, och drivs av det amerikanska försvaret. I september 1969 länkas Arpanets första dator med en sprillans ny, specialbyggd maskin, en IMP – Interface Message Processor (som ni ser på bilden här ovanför). Och några veckor senare, 29 oktober klockan halv elva på kvällen skickar forskargruppen på UCLA, ledd av professor Leonard Kleinrock, iväg ett meddelande till en dator på Stanford drygt 50 mil därifrån. Det innehåller endast bokstäverna L och O (forskarna hade tänkt skriva LOGIN men servern kraschade). 
          <br><br>
          <b>Paketutbyte, TCP/IP och tidsdelning</b>
          <br><br>
          På den amerikanska forskningsmyndigheten ARPA (Advanced Research Projects Agency) jobbar datorforskaren Joseph Licklider. Han är den som kläcker idén till det som blir internet, men det finns många andra på myndigheten som gör betydande insatser för att förverkliga planerna. Leonard Kleinrock uppfinner kommunikationstekniken ”paketutbyte” (packet switching), Vinton Cerf and Robert Kahn kommer på TCP/IP-protokollet (som fortfarande utgör grunden för det internet vi har i dag).

          <h2>1974 Tekniken bakom internet heter TCP/IP – men det finns en utmanare</h2>
         
          <b>Så hur fungerar internet? Svaret är en teknik som kunde börja användas redan 1974. Men det har inte varit givet att just TCP/IP, som tekniken heter, skulle bygga internet. Mäktiga motståndare har tyckt annat. </b>
          <br><br>
          Den 5 maj 1974 presenteras en ny teknik av amerikanerna Vint Cerf och Robert Kahn, som båda arbetar med Arpanet (föregångaren till det vi i dag kallar internet).
          <br><br>
          Protokollen TCP och IP gör det möjligt att snabbt skicka paket med information mellan anslutna datorer och nätverk. Allting decentraliserat. Systemet bygger på att nätverken inte kontrollerar informationen som skickas och är avgörande för framgången med internet. Det fungerar lite som posten, de struntar i vad du skickar och hur, bara paketet kommer fram.
          <br><br>
          Och inte nog med det: paketen delas upp och skickas i bitar, för att sedan sättas ihop när de via olika vägar nått fram till målet. Eftersom det fortfarande är TCP/IP som bygger kommunikationen via internet anser många att det är Vint Cerf och Robert Kahn som ligger bäst till för att kallas ”internets skapare”. Här kan du höra dem berätta med egna ord hur det gick till.    
      
        </p>
        </div>
        
      </div>
      
          <div>
            <img class="Arpanet12" width="568" src="/arpanet5.JPG"
            

          </div>
      </div>
      <div></div>
      <img class="tcp" width="568" src="/TCP.JPG"

    </div>
  </body>

  <script src="js/script.js"></script>
</html>
