<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
<ul class ="navbar">
    <li>
        <a href="/view/historiksahändelser.html">Historiska händelser</a>
    </li>
    <li>
        <a href=".">Linus</a>

    <li>
        <a href=".">Jesper</a>
    </li>
    </ul>
    <h1>tja tja blogggen sebbe här idag ska vi laga mat med peppar kepthcup salt, kött, sneap, lök, glass</h1>
  </body>
  <script src="js/script.js"></script>
</html>