<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <ul class="navbar">
        <li>
          <a href="/index.html">Startsida</a>
        </li>
        <li>
          <a href="/view/historiksahändelser.html">Historiska händelser</a>
        </li>
        <li>
          <a href="/view/utveckling.html">Utveckling</a>
        </li>

        <li>
          <a href=".">booooop</a>
        </li>
      </ul>

      <div class="wrapper">
        <div class="middlefloat">
          <h1>Historiksa händelser</h1>

          <h2>1969 Filmklipp: Så tänker man sig framtiden för internet</h2>
          <b>
            I ett filmklipp från slutet av sextiotalet spekuleras det om
            framtidens hus. I en sekvens får man se många olika terminaler där
            mor och far beställer kläder, tittar över bankärenden, och
            korresponderar med andra.</b
          >
          <br />
          <br />
          I videon förutspås även e-post, som kan skickas till vem som helst
          över hela jorden på ett kick. Berättarrösten kallar funktionen för
          ”home post office”. Samma år som filmen produceras skapas faktiskt det
          som kommer att bli det ”riktiga internet”: Arpanet.
          <br />
          <br />
          Min tankar är att det är rätt så coolt med hur teknologin har
          utvecklats från då till nu. Internet har haft så stor påverkan i
          samhället idag t.ex det används i skolan, hemma, jobbet, överallt, så
          ifall de inte kom på internet på den tiden så skulle nog inte välrden
          se ut som den gör idag, men man kan inte veta ifallsamhället skulle
          vara bättre eller sämre ifall de inte skapade internet.
          <br />
          <br />
          <h2>
            1973 Arpanet blir äntligen ett internationellt nät - via Sverige
          </h2>
          <b
            >Fram till 1973 har Arpanet bara varit en angelägenhet för
            amerikanska försvaret. Men i och med en koppling till Norge (via
            Sverige) kan man för första gången tala om ett internationellt nät.
            Internet, kort och gott.
          </b>
        </div>

        <div class="video1">
          <iframe
            width="520"
            height="360"
            src="https://www.youtube.com/embed/-YlouJEcipU"
            frameborder="1"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <!-- <img src="https://img1.cgtrader.com/items/952412/e505f48640/large/cartoon-hand-ok-sign-3d-model-blend.jpg" class="bild"> -->
      </div>
    </div>
  </body>
  <script src="js/script.js"></script>
</html>
