<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <ul class="navbar">
        <li>
          <a href="/index.html">Startsida</a>
        </li>
        <li>
          <a href="/view/historiksahändelser.html">Historiska händelser</a>
        </li>
        <li>
          <a href="/view/utveckling.html">Utveckling</a>
        </li>

        <li>
          <a href=".">booooop</a>
        </li>
      </ul>

      <div class="wrapper">
        <div class="middlefloat">
          <h1>Historiksa händelser</h1>

          <h2>1969 Filmklipp: Så tänker man sig framtiden för internet</h2>
          <b>
            I ett filmklipp från slutet av sextiotalet spekuleras det om
            framtidens hus. I en sekvens får man se många olika terminaler där
            mor och far beställer kläder, tittar över bankärenden, och
            korresponderar med andra.</b
          >
          <br />
          <br />
          I videon förutspås även e-post, som kan skickas till vem som helst
          över hela jorden på ett kick. Berättarrösten kallar funktionen för
          ”home post office”. Samma år som filmen produceras skapas faktiskt det
          som kommer att bli det ”riktiga internet”: Arpanet.
          <br />
          <br />
          Min tankar är att det är rätt så coolt med hur teknologin har
          utvecklats från då till nu. Internet har haft så stor påverkan i
          samhället idag t.ex det används i skolan, hemma, jobbet, överallt, så
          ifall de inte kom på internet på den tiden så skulle nog inte välrden
          se ut som den gör idag, men man kan inte veta ifallsamhället skulle
          vara bättre eller sämre ifall de inte skapade internet.
          <br />
          <br />

            

          <h2>
            1973 Arpanet blir äntligen ett internationellt nät - via Sverige
          </h2>
          <b
            >Fram till 1973 har Arpanet bara varit en angelägenhet för
            amerikanska försvaret. Men i och med en koppling till Norge (via
            Sverige) kan man för första gången tala om ett internationellt nät.
            Internet, kort och gott. </b>
            <br>
            <br>
            
            Arpanet heter datornätverket som kommer att utgöra grunden i det 
            vi numera kallar internet. Till en början är bara ett fåtal datorer
            inkopplade, men antalet växer i USA i bör av 1970-talet. 
            <br>
            <br>
            Det dröjer till den 15:e juni 1973 innan nätet blir
            internationellt. Den första dator utanför USA som kopplas in på
            Arpanet är norsk och den nås via satellit. Vad inte alla vet är att
            Sverige också har en roll i denna internethistoria. Den första
            internetkontakten går nämligen via markstationen i Tanum i Bohuslän,
            som sedan skickar vidare signalen till Norge och Norsar (ett
            forskningscentrum som grundats ihop med USA för att upptäcka
            jordbävningar och kärnvapenexplosioner).
          </b>
            <h3>
              Därför blir Norge först
            </h3>
            Anledningen till att just vårt grannland blir först ut är de goda militära kontakterna norrmännen under dessa kalla krigs-år har med amerikanerna. Månaden efter får även en dator i Storbritannien kontakt med Arpanet.
            <br>
            <br>  
            Namnet internet myntas snart, som vid tiden är en förkortning för ”internetworking”. TCP/IP-skaparen Vint Cerf skriver internet i en text 1974 och det anses vara då ordet kommer till faktiskt användning för första gången
            <br>
            <br>
            Det känns inte som internetet funnits så länge eftersom det det blivit så stort de senaste åren. Men det är rimligt eftersom det först bara var en angelägenhet för amerikanska försvaret. JAg undrar fortfarande 
            


            <H2>
              1980 Svenskarna kan prata via datorer även innan internet – med BBS
            </H2>
            <b>
              Innan webben finns de elektroniska anslagstavlorna. Du använder telefonen, slår ett nummer och så kopplas du upp mot en annan dator. Plötsligt kan du kommunicera med andra personer som ringt upp samma databas. Men bara en åt gången får plats, såvida inte datorn har fler telefonnummer.
            </b>
            <br>
            <br>
            Lätt förenklat är en BBS (bulletin board system) ett community där du kan diskutera med andra, skicka internmeddelanden och ladda hem filer. Några foton finns det inte plats för, men med hjälp av ANSI-grafik (lite som text-tv) går det att åstadkomma hyfsat avancerade bilder ändå. Om du som läser det här sitter på en gammal ANSI-grafik, posta gärna i kommentarsfältet!
            <br>
            Den första BBS:en heter CBBS (computerised bulletin board system), läggs upp 1978 och har sin bas i Chicago. I takt med att fler personer får tillgång till egna datorer (i synnerhet Amiga) och modem blir BBS:erna fler även i Sverige.
            <h3>
              ABC-klubben får BBS
            </h3>
            1980 startar KTH:s datorförening ABC-klubben (döpt efter en datormodell från Luxor) en egen BBS. ABC-klubbens BBS är det första svenska ideella forumet som man kommer åt med modem.
            <h3>
              Fidonet kopplar ihop världen
            </h3>
            På åttiotalet och fram till webbens genombrott blir BBS:er som Permobas, QZ-Kom, TP44 och Computext tongivande, och utöver dem startas hundratals andra av svenska privatpersoner, många av dem anslutna till det gemensamma nätverket FidoNet. För många användare blir de elektroniska anslagstavlorna ett sätt att lära känna personer från andra delar av landet – och världen.
            <br>
            <br>
            Genom att BBS:erna ringde varandra i ett intrikat hierarkiskt system kunde meddelanden färdas från en BBS till vilken annan BBS som helst. Det kunde dock ta dagar, ja till och med veckor, innan meddelandet kom fram. Allt beroende på hur många ”hopp” meddelandet skulle göra innan det nådde sin destination.
            <h3>
              Ny lag behövs
            </h3>
            BBS:erna ger även upphov till BBS-lagen, alltså lagen om ansvar för elektroniska anslagstavlor, som kommer till efter ett bråk där en journalist antyds vara KGB-agent. Skribenten döms till böter, men samtidigt regleras vem som ansvarar för det som skrivs på forum på nätet. Den innebär bland annat att den som ansvarar över ett forum ska hålla koll på innehållet regelbundet.


        </div>

        <div class="video1">
          <iframe
            width="520"
            height="360"
            src="https://www.youtube.com/embed/-YlouJEcipU"
            frameborder="1"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <img src="/tanum.jpg"/>
          width="520"
        </div>

        
        <!-- <img src="https://img1.cgtrader.com/items/952412/e505f48640/large/cartoon-hand-ok-sign-3d-model-blend.jpg" class="bild"> -->
      </div>
    </div>
  </body>
  <script src="js/script.js"></script>
</html>
