<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <ul class="navbar">
        <li>
          <a href="/index.html">Startsida</a>
        </li>

        <li>
          <a href="/view/historiksahändelser.html">Historiska händelser</a>
        </li>
        <li>
          <a href=".">Hemsidors utveckling</a>
        </li>

        <li>
          <a href="/view/grundläggande.html"
            >Webbens Grundläggande principer
          </a>
        </li>
        <li>
            <a href="/view/Webbpublicerings-system.html">Webbpublicerings system</a>
          </li>
      </ul>
      <div class="wrapper">
        <div class="middlefloat">
          <p>
              <div class="box1">
            <h2>
              Hemsidors utveckling
            </h2>
            Jag jämför Dragonslair 2012 och 2019. Så som den såg ut förr i tiden
            var det inte så organiserat dessutom fanns det inga bilder utan bara
            text. Det fannas också en kalender vid startsidan men det gör det
            inte idag.
            <br />
            <br />
            Idag har hemsidan ungefär samma färgtema. Den har bilder dessutom
            kategoriserat hemsidan men delat hemsidan i två eftersom det finns
            två butiker. Det finns nu vit bakgrund för att kunna upplysa
            bilderna.
            <br />
            <br />
            I framtiden borde göra som det bara är en hemsida in general
            istället för att ha två butiker som visas i en. Istället för att
            srkiva ut exakt varje dag de har öppet så kan de skriva från frösta
            dagen det är öppet till sista dagen det är öppet.
            <br />
            <br />
            Jag tycker såsom hemsidan såg ut vid 2012 var irriterande för ögonon
            eftersom den gula guldiga färgen kändes för stark. Såsom den ser ut
            idag tycker jag den ser mycket bättre ut för att det finns bilder
            men i hemsidan så har de uppdelat det i två affärer. Sveavägen på
            vänster sida och kungsholmstog åt höger. Jag tycker det hade varit
            bättre ifall de tog bort det eftersom det är förrvirande och det ser
            fult ut.
          </p>
          </div>
        </div>
        <div>
          <img
            class="dragonslair2012"
            width="568"
            src="/dragonslair 2012.JPG"
          />
          <img
            class="dragonslair2019"
            width="568"
            src="/Dragonslair 2019.JPG"
          />
        </div>
      </div>
    </div>
  </body>

  <script src="js/script.js"></script>
</html>
