<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
  
      <div class="container">
          <ul class ="navbar">
           
             <li>
                 <a href="/index.html">Startsida</a>
                 </li>   
           
           <li>
              <a href="/view/historiksahändelser.html">Historiska händelser</a>
            </li>
            <li>
             <a href=".">Utveckling</a>
       
           <li>
             <a href=".">Hej</a>
           </li>
          </ul>
          <div class="wrapper">
              <div class="middlefloat">
                <p>hjälp snälla hjälp mig jag drunknar, bidobdio(ambulans)hon är död jag beklagar, gbgbgfpihngiongwg (gråter) då var sagan slut </p>
              </div>
        
                <img src="https://pbs.twimg.com/profile_images/1044875413351206912/jD35xS0Y_400x400.jpg" class="bild">
            </div>
          </div>
    
  </body>
  
  
  
  
  
  <script src="js/script.js"></script>
</html>