<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <ul class="navbar">
        <li>
          <a href="/index.html">Startsida</a>
        </li>

        <li>
          <a href="/view/historiksahändelser.html">Historiska händelser</a>
        </li>
        <li>
          <a href="/view/utveckling.html">Hemsidors utveckling</a>
        </li>

        <li>
          <a href="/view/grundläggande.html"
            >Webbens Grundläggande principer
          </a>
        </li>
          <li>
            <a href="/view/Webbpublicerings-system.html">Webbpublicerings system</a>
          </li>
      </ul>
      <div class="wrapper">
        <div class="middlefloat">
                <div class="box1">
          <h2>Crafter CMS</h2>
          <p>
            Crafter CMS is an open-source, dual licensed, Content Management
            System.
            <br /><br />
            A content management system (CMS)is a software application that can
            be used to manage the creation and modification of digital content.
            CMSs are typically used for enterprise content management (ECM) and
            web content management (WCM). ECM typically supports multiple users
            in a collaborative environment by integrating document management,
            digital asset management and record retention. Alternatively, WCM is
            the collaborative authoring for websites and may include text and
            embed graphics, photos, video, audio, maps and programme code that
            display content and interact with the user. ECM typically includes a
            WCM function.
            <br /><br />
            Crafter CMS is a hybrid Headless CMS that combines the authoring
            sophistication of traditional WCM with the development advantages of
            a Headless CMS only architecture. There are three core components to
            Crafter CMS

            <h2>DotCMS</h2>
            DotCMS is an open source content management system (CMS) written in Java for managing content and content driven sites and applications.
            <br><br>
            Java is a general-purpose programming language that is class-based, object-oriented, and designed to have as few implementation dependencies as possible. It is intended to let application developers write once, run anywhere (WORA), meaning that compiled Java code can run on all platforms that support Java without the need for recompilation. Java applications are typically compiled to bytecode that can run on any Java virtual machine (JVM) regardless of the underlying computer architecture. The syntax of Java is similar to C and C++, but it has fewer low-level facilities than either of them. As of 2019, Java was one of the most popular programming languages in use according to GitHub, particularly for client-server web applications, with a reported 9 million developers.

          </p>
          </div>
        </div>
        <div>
          <img class="cms" src="/CMS.JPG"
          <div>
              <img class="dot" src="/dotcms.JPG"
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
